:root {
--primary-green: rgb(26, 53, 64);
    --dark-green: #1b5e20;
  }

body{
    background: linear-gradient(135deg, var(--dark-green) 0%, var(--primary-green) 100%);
}
main{
    display: grid;
    grid-column: auto;
    justify-content: center;
    margin-top: 5%;
    
}

footer {
    padding: 10px 0;
    margin-top: 100px;
  }

  #contenedorPerfil{
    width: 400px;
    height: 500px;
    border: 2px solid green;
    border-radius: 30px;
    background-color: white;
    
}

#contenedorImg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
}

#formPerfil{
    display: grid;
    grid-template-columns: 1fr 2fr; /* label e input */
    gap: 10px 5px; /* espacio entre filas y columnas */
    align-items: center;
    padding: 20px;
    color: black;
    background-color: white;
}

#imgPerfil{
    width:110px;
    border-radius: 50%;
    border: 2px solid black;
}

.datosPerfil{
    border: none;
}

#btnEditar, #btnGuardar{
    margin: 10px;
    color: white;
    background-color: darkgreen;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#imgEditarPerfil{
    width:110px;
    border-radius: 50%;
    opacity: 0.5;
}


#btnGuardar,#imgEditarPerfil{
    display: none;
}

#contenedorOpciones{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 200px;
    background-color: grey;
    border: 2x solid black;
    border-radius: 25px;
}


.opcionPerfil{
    width:110px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

h2{
    color: white;
}

#btnCerrarSesion{
    color: white;
}

